<a href="https://colab.research.google.com/github/r4skaren/python-tera/blob/main/Manipula%C3%A7%C3%A3o_de_Dados_em_Sequ%C3%AAncias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Manipulação de Dados em Sequências (Listas e Tuplas)

# Estruturas Sequenciais

Existem em **_python_** algumas formas básicas de se armazenar dados em grupo. Um dos tipos mais usados para construção de estruturas de dados são as chamadas **sequências**, grupo que compreende as **listas** (`list`) e as **tuplas** (`tuple`), temas centrais dessa aula. 

Para ser considerado uma sequência, um grupo de dados deve obedecer às seguintes regras:
1.  Em uma sequência **sempre há uma posição ordenada** associada aos dados, ou seja, sempre que houver mais de um dado, a **posição de um deles vai ser maior** do que a do outro. Isso permite que um elemento dentro de uma sequência seja **referenciado pela sua posição**.

2.  Um sequência pode ser composta de **elementos com valores repetidos**; cada elemento será tratado como um indivíduo e sua posição o descreve na sequência. Dessa forma, cada elemento dentro de uma sequência tem uma **posição** (número inteiro) e um **valor** (objeto python) associados.

# Listas

Listas são a estrutura básica de sequência mais versátil. Essa estrutura **permite modificações do seu conteúdo** sem a necessidade da criação de outro objeto em memória, sendo portanto uma sequência **mutável** ou **dinâmica**.

O tipo interno (`type`) da lista em **_python_** é a `list`.

## Criação de Listas

A forma mais simples de criar uma lista é a declaração dos objetos que a compõem entre colchetes.

In [ ]:
# criando uma lista e chamando de `x` 
x = [1, 2, 3, 4, 5]
x

[1, 2, 3, 4, 5]

In [ ]:
# o tipo de `x` é `list`
type(x)

list

Uma outra forma de construir uma lista é **convertendo outra sequência** através do contrutor `list()`.

In [ ]:
# criando uma outra sequencia do tipo `tuple`
y = tuple(['a', 'b', 'w'])
y

('a', 'b', 'w')

In [ ]:
type(y)

tuple

In [ ]:
# criando uma lista `x` a partir da tupla `y`
x = list(y)
x

['a', 'b', 'w']

In [ ]:
type(x)

list

Ambas as formas são igualmente válidas, assim como o primeiro exemplo visto no início da Seção:



```
x = list([1, 2, 3, 4, 5, 6])
```

Todas essas formas criam um novo objeto do tipo `list` em memória, que pode ser usado através da variável (no caso mostrado, a variável `x`).

Sobre os elementos que podem compor uma `list`, **todos os tipos** de objetos são aceitos, inclusive o `None` e ainda **outras sequências**. E não é necessário que todos os elementos sejam do mesmo tipo, a lista é **heterogênea** por construção.

In [ ]:
# lista com diferentes tipos
x = [None, 1, 'a', 'palavra completa', [None, 'x', 1999], ('nome', 'joao')]
x

[None, 1, 'a', 'palavra completa', [None, 'x', 1999], ('nome', 'joao')]

## Acesso aos dados da lista

### Acesso pela posição do item
A forma mais simples de acessar um objeto da lista é **pelo seu índice**, ou seja, pela posição que ele ocupa dentro da sequência.

In [ ]:
# criando a lista para testar os conceitos
x = ['primeiro', 'segundo', 'terceiro', 'quarto', 'quinto', 'penúltimo', 'último']
x

['primeiro', 'segundo', 'terceiro', 'quarto', 'quinto', 'penúltimo', 'último']

In [ ]:
x[3]

'quarto'

In [ ]:
x[6]

'último'

Os índices em **_python_** começam em **zero**, ou seja, o elemento `x[0]` é o primeiro elemento da lista, `x[1]` é o segundo e assim por diante.

In [ ]:
x[0]

'primeiro'

In [ ]:
x[1]

'segundo'

Em **_python_** também é possível acessar aos dados de uma lista através de um **índice negativo**. O índice `-1` representa a **última posição**, o `-2` a **penúltima** e assim por diante.

In [ ]:
x[-1]

'último'

In [ ]:
x[-2]

'penúltimo'

É possível acessar **todos os elementos** através de índices negativos.

In [ ]:
x[-6]

'segundo'

In [ ]:
x[-7]

'primeiro'

Porém, se houver tentativa de **acesso a um índice inexistente** (fora do limite), será retornado um erro.

In [ ]:
# acesso ao índice positivo fora do limite causa erro
x[7]

IndexError: ignored

In [ ]:
# acesso ao índice negativo fora do limite também causa erro
x[-8]

### Acesso por segmento (ou `slice`)

Uma outra forma de acessar os elementos da lista é através de um segmento (`slice`). A forma de identificar esse **segmento de interesse** é através do operador `:`, informando qual a **posição inicial** do segmento e também a **posição acima da final**.

O formato seria da seguinte forma:
```
y = x[<primeira_posição>:<última_posição> + 1]
```

In [ ]:
# usando o `slice` para captar os 3 valores entre 
# `2` (inclusive) e `5` (exclusive)
x[2:5]

In [ ]:
# verificando a primeira posição
x[2]

Como pode ser visto abaixo, o elemento `5` não corresponde ao último elemento do `slice` `2:5`, pois o último valor é o **limite exclusivo superior** do `slice`.

In [ ]:
# verificando a posição relativa ao segundo termo (5) do `slice`
x[5]

'penúltimo'

Para acessar **o último elemento** da lista, é necessário **deixar vazio** o último número do `slice`.

In [ ]:
# acessando os últimos 2 elementos da lista
x[5:]

['penúltimo', 'último']

Para o caso do primeiro índice, **tanto faz** usar o **valor vazio** ou **zero**.

In [ ]:
# declarando o zero
x[0:3]

['primeiro', 'segundo', 'terceiro']

In [ ]:
# omitindo o zero
x[:3]

['primeiro', 'segundo', 'terceiro']

O operador de `slice` também pode usar **índices negativos** para referenciar as posições.

In [ ]:
# selecionando os 2 últimos elementos
x[-3:]

['quinto', 'penúltimo', 'último']

Se usar o valor `-1`, o retorno irá **descartar a última posição** no retorno.

In [ ]:
# Nesse `slice` o último elemento foi cortado do resultado
x[-3:-1]

['quinto', 'penúltimo']

### Operador de `slice` definindo o passo (`step`)

Também é possível definir **de quantos em quantos** índices o slice deve pegar os dados. O **terceiro parâmetro** do `slice` é chamado de passo ou `step`.

```
x[start:end:step]
```

Por padrão, se o valor for omitido, se assume que é **igual a um**.

In [ ]:
# `slice` com `step` igual a 1
x[2:5:1]

['terceiro', 'quarto', 'quinto']

In [ ]:
# `slice` com `step` não declarado
x[2:5]

['terceiro', 'quarto', 'quinto']

Se o `step` for **igual a dois**, por exemplo, o slice **vai pular um** elemento a cada passo.

In [ ]:
x[1:5:2]

['segundo', 'quarto']

## Informações sobre a Lista

Algumas informações gerais sobre a lista podem ser obtidas a partir das funções auximliares mostradas a seguir.

### Função `len`

Essa função retorna a quantidade de elementos dentro de uma lista. Como apenas a quantidade de elementos é levada em conta, não é necessário mais informações dos tipos dentro da lista.

In [ ]:
# exemplo usando o alfabeto
len([
     'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm',
     'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'
])

26

In [ ]:
# exemplo com lista heterogênea
len([None, 1, 'a', 'palavra completa', [None, 'x', 1999], ('nome', 'joao')])

6

### Funções `min` e `max`

As funções `min` e `max` já esperam que os itens dentro da lista **sejam ordenáveis**, pois é feita uma comparação dentre todos para que seja retornado o mínimo.

In [ ]:
# exemplo de mínimo entre elementos do tipo `string`
min(['a', 'e', 'f', 'g', 'n', 'o', 'p', 'q'])

'a'

In [ ]:
# exemplo de máximo entre elementos do tipo `string`
max(['goiás', 'mato grosso', 'rio de janeiro'])

'rio de janeiro'

### Função `sum`

Caso seja uma lista de objetos do tipo numérico, é possível **calcular a soma** sobre a lista com a função `sum()`.

In [ ]:
# soma de inteiros
sum([10, 20, 30])

60

In [ ]:
# soma de inteiros e floats
sum([-1.2, 2, .3])

1.1

## Inserção e remoção de elementos na Lista

A maior vantagem de uma `list` é a possibilidade de adicionar ou remover elementos sem precisar criar outra lista. Com as funções que serão mostradas nessa seção, essas modificações são feitas cirurgicamente, sem a necessidade de mexer em toda a lista.

As sequências imutáveis, ao contrário, só permitem que uma nova sequência seja gerada a partir da original. Em uma sequência muito grande, isso gera um custo de memória computacional na mesma prporção, podendo impossibilitar a solução de executar.

### Função `append`

Essa função adiciona um elemento **ao final da lista**, aumentando sempre o tamanho em uma unidade.

In [ ]:
# criação da lista
x = [1, 2, 3]
x

[1, 2, 3]

In [ ]:
# o tamanho original da lista
len(x)

3

In [ ]:
# adicionando o primeiro elemento extra
x.append(4)
x

[1, 2, 3, 4]

In [ ]:
# adicionando um a mais
x.append('qwerty')
x

[1, 2, 3, 4, 'qwerty']

In [ ]:
# o tamanho após as duas inserções
len(x)

5

### Função `insert`

Para inserir um elemento em outro lugar da lista que não seja só no final, é recomendado usar a função `insert()`.

In [ ]:
# inserindo na mesma função, mas na quinta posição (índice `4`)
x.insert(4, None)
x

[1, 2, 3, 4, None, 'qwerty']

Usar a função `append()` é a única forma de fazer o insert no fim da lista, pois o `insert()` só consegue inserir até antes do parâmetro de índice fornecido na entrada.

In [ ]:
# uso do `insert ` no último índice possível
x.insert(-1, 3.14)
x

[3.14, 1, 2, 3, 4, None, 3.14, 'qwerty']

Para inserir no início da lista, pode-se usar como primeiro parâmetro o `0`.

In [ ]:
# inserindo elemento na primeira posição
x.insert(0, 0.42)
x

[0.42, 0.42, 3.14, 1, 2, 3, 4, None, 3.14, 'qwerty']

### Função `remove`

A função `remove()` permite remover um elemento da lista usando como entrada **o elemento** que se quer remover.

In [ ]:
# list original
x = [1, 3, 5, 7, 9, 11, 13]
x

[1, 3, 5, 7, 9, 11, 13]

In [ ]:
x.remove(5)
x

[1, 3, 7, 9, 11, 13]

Se o valor não estiver presente na lista, levanta um erro.

In [ ]:
x.remove(2)

ValueError: ignored

Se houver elementos repetidos, remove **a primeira ocorrência** do elemento, mantendo os outros na lista. Para remover mais, deve-se chamar novamente a função na lista.

In [ ]:
# inserindo duplicatas
x.extend(x)
x

[1, 3, 7, 9, 11, 13, 1, 3, 7, 9, 11, 13]

In [ ]:
# removendo o primeiro `9`
x.remove(9)
x

[1, 3, 7, 11, 13, 1, 3, 7, 9, 11, 13]

In [ ]:
# removendo o segundo `9`
x.remove(9)
x

[1, 3, 7, 11, 13, 1, 3, 7, 11, 13]

## Listas Multidimensionais

Já foram mostrados alguns exemplos de listas e tuplas dentro de listas, e as possibilidades com isso são bem extensas. Essa seção mostra algumas dessas possibilidades e como aproveitar ao máximo sem cair em algumas armadilhas do aninhamento de listas.

### Listas dentro de Listas

**Exemplo:**
Para representar uma cor numericamente podemos usar o sistema RGB - **R**ed (Vermelho), **G**reen (Verde), **B**lue (Azul). Associando um número de 0 a 255 para cada uma dessas cores podemos representar uma enorme quantidade de cores.
Para representar um pixel vermelho poderíamos utilizar a seguinte notação `[255,0,0]`
Poderíamos então representar uma imagem com 4 pixels da seguinte maneira:

In [ ]:
imagem = [ [255,0,0], [0,255,0], [0,0,255], [0,0,0] ]

Aqui temos uma lista que está guardando outras 4 listas, cada uma representando um pixel diferente. Podemos também fazer uma nova dimensão para cada linha:
Se contarmos a quantidade de elementos dessa variável através do `len(imagem)` o python retornará pra gente o número `4`.
Podemos contar também a quantidade de elementos dentro das listas que estão dentro da principal. Com o comando `len(imagem[0])` temos como retorno 3.

In [ ]:
len(imagem)

4

In [ ]:
len(imagem[0])

3

# Tuplas

Tuplas são uma estrutura básica de sequência mais conservadora, que **não permite alterações dos seus elementos** após criada. Por esse motivo, é chama de **sequência imutável** ou **estática**.

O tipo interno (`type`) da tupla em **_python_** é a `tuple`.

In [ ]:
x = tuple([1, 2, 3, 4, 5, 6])
x

(1, 2, 3, 4, 5, 6)

In [ ]:
type(x)

tuple

## Criação de Tuplas

As tuplas podem ser criadas da mesma maneira que listas, mas com o **operador parênteses** em vez de colchetes.

In [ ]:
# criação de uma tupla
x = (1, 2, 3)
print(f'Tipo: {type(x)}')
x

Tipo: <class 'tuple'>

(1, 2, 3)

Diferente da lista, que pode ser criada apenas colocando um elemento entre colchetes, a tupla só é construída se tiver **pelo menos uma vírgula** dentro do parêntesis. Caso contrário, o interpretador do **_python_** entende que é só um encapsulamento neutro por parênteses.

In [ ]:
# Menor tupla possível
x = ('qualquer_elemento', )
print(f'Tipo: {type(x)}')
x

('qualquer_elemento',)

In [ ]:
# Falha em criar a tupla
x = ('qualquer_elemento')
print(f'Tipo: {type(x)}')
x

Tipo: <class 'str'>

'qualquer_elemento'

A tupla é o **tipo padrão para qualquer agrupamento** de dados não definido como outro. Se não houverem parêntesis, a variável já recebe os valores como uma tupla.

In [ ]:
# construção por atribuição simples
x = 1, 2, 3
x

(1, 2, 3)

Esse comportamento é complementado pela função de **desempacotamento de variáveis**, que armazena em um grupo de variáveis os valores de uma tupla caso essa tenha **o mesmo número de valores** em si.

In [ ]:
# atribuindo valores a `x` e `y`
x, y = 1,2
x, y

(1, 2)

In [ ]:
# x não é uma tupla, nem y
type(x), type(y)

(int, int)

Da mesma forma que na lista, usar o construtor `tuple` **sobre qualquer sequência** retorna uma tupla com uma cópia dos valores da sequência.

In [ ]:
x = [1, 2, 3]
y = tuple(x)

print(f'Tipo: {type(y)}')
y

Tipo: <class 'tuple'>

(1, 2, 3)

## Tuplas Vs Listas

A **principal vantagem** da tupla sobre a lista é que, por ser uma estrutura estática, é muito mais simples de armazenar em memória, gastando menos espaço. A lista precisa de muito mais variáveis para ser eficiente, além de ter métodos específicos de edição. 

A **principal desvantagem** da tupla é que toda vez que se quer alterar, é necessário constuir uma nova tupla com a modificação. Isso pode pesar na memória e tornar qualquer programa ineficiente muito rápido, principalemnte quando grandes quantidades de dados estão na tupla.


- Não pode ser editada, sempre é um operador de cópia
- operadores `append`, `pop` e `remove` não funcionam
- operador `sort` não funciona, apenas `sorted`
- Exemplo com edição de tupla e lista dentro de sequencia multidimensional

### Acesso aos elementos da tupla 
Todos os métodos de acesso aos dados por índices e `slices` funcionam normalmente nas tuplas.

In [ ]:
# Tupla original
x = (1, 2, 3, 4, 5, 6, 7, 8, 9)
x

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
# revertendo a tupla
x[::-1]

(9, 8, 7, 6, 5, 4, 3, 2, 1)

Todos esses métodos retornam uma nova tupla, não havendo edição da original. Com isso, também não ée possível alterar um dado interno de uma tupla através do índice, como é com a lista.

In [ ]:
# criando uma lista e uma tupla iguais
xls = [1, 2, 3, 4, 5]
xtp = (1, 2, 3, 4, 5)
xls, xtp

([1, 2, 3, 4, 5], (1, 2, 3, 4, 5))

In [ ]:
# edição da lista - OK
xls[2] = -5
xls

[1, 2, -5, 4, 5]

In [ ]:
# edição da tupla - levanta um erro
xtp[2] = -5
xtp

TypeError: ignored

De uma forma simplista, a tupla se apresenta como **modo de apenas leitura** enquanto a lista pode ser escrita também.